<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>寻物启事审核</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/service/lostService.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/lostController.js"></script>
	<!-- 弹窗开始 -->
	<script type="text/javascript" src="../layer/layer.js"></script>
	<!-- 弹窗结束 -->
    
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="lostProperty" ng-controller="lostController" ng-init="searchEntity={status:0}" >
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">寻物启事审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="box-tools pull-right">
                           	  <form role="form" class="form-inline">
	                                <div class="form-group">
	                                	<label>    
	                                		<i></i>失物类别：             
		                      	            <select class="form-control" ng-model="searchEntity.categoryName">
			                                    <option value="">请选择</option>
			                                    <option ng-repeat="categoryEntity in categoryList" value="{{categoryEntity.categoryName}}">{{categoryEntity.categoryName}}</option>
			                                </select>
			                            </label> 
		                            </div>
			                               
			                        <div class="form-group">         
								      	<input placeholder="请输入关键信息" class="form-control" ng-model="searchEntity.infoTitle"/>      
							        </div>   
	                                 
	                                 <button class="btn btn-white" ng-click="reloadList()">查询</button>
	                                 
                                </form>                 
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">失物ID</th>
									      <th class="sorting_asc">分类名称</th>
									      <th class="sorting_asc">信息标题</th>
									      <th class="sorting_asc">联系人</th>
									      <th class="sorting_asc">联系邮箱</th>
									      <th class="sorting_asc">丢失时间</th>
									      <th class="sorting_asc">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
				                          <td>{{entity.id}}</td>
									      <td>{{entity.categoryName}}</td>
									      <td>{{entity.infoTitle}}</td>
		                                  <td>{{entity.contacts}}</td>
									      <td>{{entity.email}}</td>
									      <td>{{entity.lostTime1 | date:'yyyy-MM-dd'}}</td>
		                                 
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#sellerModal" ng-click="findOne(entity.id)" >审核处理</button>                                           
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->      
			                  
			            <!-- 分页处理开始 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
						<!-- 分页处理结束 -->                  
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
	          
					    
                                
<!-- 商家详情 -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">寻物启事详情</h3>
		</div>
		<div class="modal-body">							
			
			 <ul class="nav nav-tabs">
			  <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
			  <li><a href="#linkman" data-toggle="tab">联系人</a></li>
			  <li><a href="#description" data-toggle="tab">详情描述</a></li>
			</ul>							
			
			<!-- 选项卡开始 -->         
		    <div id="myTabContent" class="tab-content">
			    <div class="tab-pane active in" id="home">
			      <br>
			      <table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>信息编号</td>
			      		<td>{{entity.id}}</td>
			      	</tr>
			      	<tr>
			      		<td>信息标题</td>
			      		<td>{{entity.infoTitle}}</td>
			      	</tr>
			      	<tr>
			      		<td>分类名称</td>
			      		<td>{{entity.categoryName}}</td>
			      	</tr>
			      	<tr>
			      		<td>丢失地点</td>
			      		<td>{{entity.lostPlace}}</td>
			      	</tr>
			      	<tr>
			      		<td>丢失时间</td>
			      		<td>{{entity.lostTime1 | date:'yyyy-MM-dd'}}</td>
			      	</tr>
			      	<tr>
			      		<td>发布时间</td>
			      		<td>{{entity.created | date:'yyyy-MM-dd'}}</td>
			      	</tr>
			      	<tr>
			      		<td>图片信息</td>
			      		<td>{{entity.images}}</td>
			      	</tr>
			      	<tr>
			      		<td>悬赏报酬</td>
			      		<td>{{entity.rewards}}</td>
			      	</tr>
			      </table>			      
      			</div>	
			    <div class="tab-pane fade" id="linkman">
			    	<br>
					<table class="table table-bordered table-striped" >
			      	<tr>
			      		<td>联系人姓名</td>
			      		<td>{{entity.contacts}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系人E-Mail</td>
			      		<td>{{entity.email}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系人QQ</td>
			      		<td>{{entity.qq}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系人手机</td>
			      		<td>{{entity.tel}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系人地址</td>
			      		<td>{{entity.address}}</td>
			      	</tr>
			      </table>
			    </div>
			    <div class="tab-pane fade" id="description">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>详情描述：</td>
				      		<td>{{entity.description}}</td>
				      	</tr>				   			      	
			     	</table>
			    </div>
  			    </div> 			
           <!-- 选项卡结束 -->          
			
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="updateStatus(entity.id,1)">审核通过</button>
         	<button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true" ng-click="updateStatus(entity.id,2)">审核未通过</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
<!-- 商家详情 结束-->


</body>

</html>