<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qst.manger.mapper.TbCommentMapper" >
  <cache type="com.qst.common.redis.RedisCache"/>


  <insert id="addComment">
    insert  into tb_comments(goodsId,userId,commentcontent,createDate)
    values (#{goodsId},#{userId},#{commentcontent},#{createDate})
  </insert>

  <delete id="deleteByFoundId">
    delete from tb_comments where goodsId=#{foundId}
  </delete>

<delete id="deleteBykey">
      delete from tb_comments where id=#{id}

</delete>

  <select id="getAllcomment" resultType="com.qst.manger.pojo.TbComment">
       select * from tb_comments where  goodsId=#{foundId}
       order by createDate desc
  </select>

  <select id="getAll" resultType="com.qst.manger.pojo.TbComment">
     select * from tb_comments

    where  1=1
    <if test="commentcontent != null" >
      and   commentcontent = #{commentcontent,jdbcType=BIGINT}
    </if>
    order  by createDate desc

  </select>

  <select id="getCommentByUserId"  resultType="com.qst.manger.pojo.TbComment">
    select * from tb_comments where  userId=#{userId}
  </select>
</mapper>