<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qst.manger.customMapper.DetLostMapper">

	<!-- Lost共同sql语句 -->
	<sql id="Common_List">
		tl.id,tc.category_name AS categoryName,
		tl.lost_place AS lostPlace,
		tl.rewards,tl.contacts,tl.email,
		tl.description,tl.infoTitle,
		tl.lost_time AS lostTime1,
		tl.images,tl.status,tl.tel,tl.QQ,tl.address,
		tl.password,tl.created,tl.updated
	</sql>
	
	<!-- 根据ID查询明细失物 -->
	<select id="selectLostById" resultType="com.qst.manger.customPojo.DetLost" parameterType="java.lang.Long">
		SELECT
			<include refid="Common_List" />
		FROM
			tb_lost AS tl
			INNER JOIN tb_category AS tc ON tl.category_id = tc.id
		WHERE tl.id = #{id,jdbcType=BIGINT}
	</select>	

	<!-- 查询所有明细失物 -->
	<select id="selectAllDetailLost" resultType="com.qst.manger.customPojo.DetLost">
		SELECT
			<include refid="Common_List" />
		FROM
			tb_lost AS tl
			INNER JOIN tb_category AS tc ON tl.category_id = tc.id
		ORDER BY tl.updated DESC
	</select>
	
	<!-- 按条件分页查询所有明细失物 -->
	<select id="selectConditionLost" resultType="com.qst.manger.customPojo.DetLost" parameterType="com.qst.manger.customPojo.DetLost">
		SELECT
			<include refid="Common_List" />
		FROM
			tb_lost AS tl
			INNER JOIN (
				SELECT
					id,category_name
				FROM
					tb_category
				<where>
					<if test="categoryName != null">
						 category_name = #{categoryName,jdbcType=VARCHAR}
					</if>
				</where>
			) AS tc ON tl.category_id = tc.id
		<where>
			<if test="lostPlace != null">
				tl.lost_place LIKE "%"#{lostPlace,jdbcType=VARCHAR}"%"
			</if>
			<if test="infoTitle != null">
				AND tl.infoTitle LIKE "%"#{infoTitle,jdbcType=VARCHAR}"%"
			</if>
			<if test="lostTime1 != null and lostTime2 != null">
				AND tl.lost_time BETWEEN #{lostTime1,jdbcType=TIMESTAMP} AND #{lostTime2,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				AND tl.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="keyword != null">
				AND tl.infoTitle LIKE "%"#{keyword,jdbcType=VARCHAR}"%" OR tl.description LIKE "%"#{keyword,jdbcType=VARCHAR}"%"
			</if>
		</where>
		ORDER BY tl.updated DESC
	</select>

</mapper>